body 
{
margin: 0;
font-family: Arial, Verdana, sans-serif; 
font-size: 11px;
color: #000000;
}
li{ list-style:none}
.quick_links
{
 width:200px;
}

#IndexBody{ width:1000px;}
                   

.leftmenucontainer {                                         
         width: 70%;
         margin: 5px 5px 5px 10px;
         border: 1px solid #666;
   padding:5px 5px 5px 5px;
}

#menuleft {
         width: 140px;
         border: 1px solid #ccc;
   color: #505050;
         display: block;
         background: url(../images/menu3.gif);
         padding: 0 0 0 0;
         }

#menuleft li a {
           height: 32px;
           height: 24px;
           text-decoration: none;
         }

#menuleft li a:link,#menuleft li a:visited {
         color: #505050;
         display: block;
         background: url(../images/menu3.gif);
         padding: 8px 0 0 30px;
         }

#menuleft li a:hover,#menuleft li a:active {
         color: #013676;
         background: url(../images/menu3.gif) 0 -32px;
         padding: 8px 0 0 30px;
         }
                        
#leftmenu2 {
         float:inherit;
         width: 140px;
         border-color: #D0D0D0;
         border-width: 1px;
		 
		 
         }

#leftmenu2 li a {
           height: 32px;
           height: 24px;
           text-decoration: none;
     BACKGROUND: url(../images/arrow.gif) no-repeat 8px 8px 8px 8px; 
         }

#leftmenu2 li a:link, #leftmenu2 li a:visited {
         color: #FFF;
         background:   url(../images/menu5.gif);
         padding: 8px 0 0 30px;
         }

#leftmenu2 li a:hover, {
         color: #FFF;
         background:   url(../images/menu5.gif) 0 -32px;
         padding: 8px 0 0 30px;
         }





table
{
font-family: Arial, Verdana, sans-serif; 
font-size: 11px;
padding: 0;
margin: 0;
text-align: justify;
}

table.view_info
{
table-layout: fixed;
word-wrap: break-word;
}

table.search2
{
text-align: left;
}

table.chars
{
font-size: 10pt;
font-family: Tahoma, Arial, sans-serif;
}

td.color1
{
background: #CCCCCC;
}

td.color2
{
background: #999999;
}

td.color3
{
background: #666666;
}

td.color1key
{
background: #CCCCCC;
padding-left: 5px;
font-weight: bold;
}

td.left_title
{
font-weight: bold;
padding-left: 5px;
padding-top: 15px;
}

td.siemens_footer
{
font-size: 10px;
height: 30px;
text-align: center;
color: #CCCCCC;
}

td.title
{
background: #CCCCCC;
}

td.result-header
{
font-size: 10px;
background: #AAAAAA;
text-align: center;
}

tr.result-title
{
background: #CCCCCC;
height: 20px;
text-align: left;
}

tr.column-header
{
background: #AAAAAA;
font-weight: bold;
}

td.char
{
font-size: 16pt;
font-weight: bold;
}

hr
{
color: #CCCCCC;
height: 1px;
}

a { font-family: Arial, Verdana, sans-serif; font-size: 11px; color: #000000; text-decoration: none;}
a:visited { color: #000000; text-decoration: none; }
a:active { color: #000000; text-decoration: none; }
a:hover { color: #666666; text-decoration: underline; }

a.site-nav { font-family: Arial, Verdana, sans-serif; font-size: 11px; color: #000000; text-decoration: none;}
a.site-nav:visited { color: #000000; text-decoration: none; }
a.site-nav:active { color: #000000; text-decoration: none; }
a.site-nav:hover { color: #FFFFFF; text-decoration: none; }

a.siemens_footer { font-family: Arial, Verdana, sans-serif; font-size: 10px; color: #CCCCCC; text-decoration: none;}
a.siemens_footer:visited { color: #CCCCCC; text-decoration: none; }
a.siemens_footer:active { color: #CCCCCC; text-decoration: none; }
a.siemens_footer:hover { color: #000000; text-decoration: none; }

a.admin-edit { font-family: Arial, Verdana, sans-serif; font-size: 11px; color: #2953CE; text-decoration: none;}
a.admin-edit:visited { color: #2953CE; text-decoration: none; }
a.admin-edit:active { color: #2953CE; text-decoration: none; }
a.admin-edit:hover { color: #000000; background: #5C85FF; text-decoration: underline; }

a.admin-delete { font-family: Arial, Verdana, sans-serif; font-size: 11px; color: #FF0000; text-decoration: none;}
a.admin-delete:visited { color: #FF0000; text-decoration: none; }
a.admin-delete:active { color: #FF0000; text-decoration: none; }
a.admin-delete:hover { color: #000000; background: #FF0000; text-decoration: underline; }

a.admin-retrieve { font-family: Arial, Verdana, sans-serif; font-size: 11px; color: #00AA00; text-decoration: none;}
a.admin-retrieve:visited { color: #00AA00; text-decoration: none; }
a.admin-retrieve:active { color: #00AA00; text-decoration: none; }
a.admin-retrieve:hover { color: #000000; background: #00DD00; text-decoration: underline; }

a.admin-retrieve2 { font-family: Arial, Verdana, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none;}
a.admin-retrieve2:visited { color: #FFFFFF; text-decoration: none; }
a.admin-retrieve2:active { color: #FFFFFF; text-decoration: none; }
a.admin-retrieve2:hover { color: #000000; background: #00DD00; text-decoration: underline; }

a.top-nav { font-family: Arial, Verdana, sans-serif; font-size: 12px; color: #000000; text-decoration: underline;}
a.top-nav:visited { color: #000000; text-decoration: underline; }
a.top-nav:active { color: #000000; text-decoration: underline; }
a.top-nav:hover { color: #999999; text-decoration: underline; }

a.file { font-family: Arial, Verdana, sans-serif; font-size: 11px; color: #000000; text-decoration: underline;}
a.file:visited { color: #000000; text-decoration: underline; }
a.file:active { color: #000000; text-decoration: underline; }
a.file:hover { color: #777777; text-decoration: underline; }

form
{
padding: 0px;
margin: 0px;
}

select
{
font-size: 11px;
}

select.style
{
margin-top: 0px;
margin-left: 10px;
}

#win
{
border: 1px solid #666666;
width: 100%;
margin-top: 5px;
margin-bottom: 10px;
}

#win-login
{
border: 1px solid #666666;
width: 400px;
margin-top: 5px;
margin-bottom: 10px;
}

#win2
{
border: 1px solid #666666;
width: 99%;
margin-top: 5px;
margin-bottom: 10px;
}

#win-header
{
font-weight: bold;
color: #FFFFFF;
background: #666666;
padding: 2px;
}

#win-body
{
padding: 0px;
width:100%;
}

h3
{
padding: 0px;
font-size: 12px;
font-weight: bold;
}

input, textarea
{
font-family: Arial, Verdana, sans-serif; 
font-size: 13px;
}

input.confirm
{
margin: 5px;
}

td.text
{
text-align: justify;
}

code.highlight
{
font-size: 12px;
font-weight: bold;
color: #009999;
}

code.highlight2
{
font-size: 11px;
font-weight: bold;
color: #009999;
}

tr.highlight
{
background: #CCCCCC;
}

td.view-padding-title
{
padding-left: 5px;
font-weight: bold;
font-style: italic;
}

td.view-padding
{
padding: 5px 5px 10px 5px;
}

#padding-right
{
padding-right: 15px;
}

#padding-left
{
padding-left: 15px;
}

span.warning, td.warning
{
color: #FF0000;
}

input.warning, textarea.warning
{
border: 1px solid red;
}

img.stats
{
border: 1px solid #000000;
}

span.pageno
{
font-size: 12px;
color: #666666;
font-weight: bold;
}

#total
{
padding: 0px 0px 5px 5px;
}

.style_bg
{
background: #999999;
}

span.search_key
{
color: #666666;
font-weight: bold;
font-style: italic;
}

.grey
{
color: #707070;
}

.info-color {
color: #999999;
}

#siteLoader {
	position: absolute;
	z-index: 100;
	background-color: #000;
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 0;	
}

#loadImg {
	position: absolute;
	text-align: center;
	background-color: #000;
	width: 100%;
	z-index: 100;
	top: 50;
	left: 0;
	line-height: 0;	
	background: transparent;
}

#loadText {
  position: relative;
  font-family: arial, tahoma, Verdana, Arial, sans-serif;
  font-size: 20px;
  top: 20%;
  height: 200px;
  color: #fff;	
  text-align: center;  
	vertical-align: middle;
	background: transparent;
}

p.no_data {
  padding: 20px 0 20px 0;
}

p.no_data2 {
  padding: 0 0 20px 0;
}

#adv_search
{
margin: 0;
display: none;
border: none;
background: transparent;
padding: 5px;
}

table.admin
{
margin: 15px 0 15px 0;
}